html, body {
    height: 100%;
    margin: 0;
    background: #ffffff;
}
.wrapper {
    width: 40%;
    height: 40%;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    box-shadow: 16px 16px 32px 16px rgba(30, 30, 30, 0.1);
    border-radius: 2%;
}
.header {
    width: 90%;
    height: 40%;
    margin: auto;
    margin-top: 20px;
}
.content {
    width: 90%;
    margin: auto;
}
.disflex {
    display: flex;
    width: 100%;
    margin: auto;
}